<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cs4531.interviewapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.cs4531.interviewapp.MainActivity"
            android:label="@string/Home">
        </activity>
        <activity
            android:name="com.example.cs4531.interviewapp.RecordVideoActivity"
            android:label="@string/Record_Video" />
        <activity
            android:name="com.example.cs4531.interviewapp.FlashcardsActivity"
            android:label="@string/Flashcards" />
       <activity android:name="com.example.cs4531.interviewapp.QuestionListActivity"
            android:label="@string/app_name"/>
        <activity
            android:name="com.example.cs4531.interviewapp.ResourcesActivity"
            android:label="@string/Resources"/>
        <activity android:name="com.example.cs4531.interviewapp.LogIn"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
