doctype html
html
	head
		title addFlash
	body
		p
			| Add a flash-card computer science question to the database
			br
			| Keep questions simple, with short answers
		form(action='/createFlash', method='POST')
			p
				| Question: 
				textarea(name='question', required)
				br
				| Answer: 
				textarea(name='answer', required)
			input(type='submit' value='Submit')

p
	a(class='button' href='/logout') Logout
